name: Build for a container
on:
    workflow_dispatch:

jobs:
    build-container:
        if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
        runs-on: ubuntu-latest
        container:
            image: archlinux
            volumes:
                - /:/host
        steps:
            - name: Checkout latest commit
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Install dependencies
              run: pacman -Syu --needed --noconfirm docker base-devel git
            - name: Free space on runner
              run: |
                  sudo rm -rf /host/usr/share/dotnet
                  sudo rm -rf /host/usr/local/lib/android
                  sudo rm -rf /host/opt/ghc
                  sudo rm -rf /host/opt/hostedtoolcache/CodeQL
                  sudo docker image prune --all --force
            - name: Log into registry
              run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            - name: Build container
              id: build
              run: |
                  # Add non root user to run makepkg with
                  useradd makepkg --no-create-home
                  chown -R makepkg .

                  echo "::group::Generating source archive..."

                  # Generate archive with all required sources for the build
                  # This either includes local or downloads files using an url
                  su -c "makepkg --allsource" makepkg

                  echo "::endgroup::"

                  CHROMIUM_VERSION="$(compgen -G "*.src.tar.gz" | grep -Po '([0-9\.]+-[0-9]*)')"

                  REGISTRY="ghcr.io/${{ github.repository_owner }}"
                  NAME="ungoogled-chromium-archlinux"

                  ID="$(echo $REGISTRY/$NAME | tr '[A-Z]' '[a-z]')"
                  REF="$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')"

                  [[ "${{ github.ref }}" == "refs/tags/"* ]] && REF=$(echo $REF | sed -e 's/^v//')

                  [ "$REF" == "master" ] && REF=latest

                  VERSION_TAG="$ID:$CHROMIUM_VERSION"
                  LATEST_TAG="$ID:latest"

                  echo "CHROMIUM_VERSION=$CHROMIUM_VERSION"
                  echo "REGISTRY=$REGISTRY"
                  echo "NAME=$NAME"
                  echo "ID=$ID"
                  echo "REF=$REF"
                  echo "VERSION_TAG=$REF_TAG"
                  echo "LATEST_TAG=$LATEST_TAG"

                  echo "::group::Building container image..."

                  # Build container from source files
                  docker build . \
                      --file .github/workflows/container/Dockerfile \
                      --tag "$VERSION_TAG" \
                      --tag "$LATEST_TAG"

                  # Reduce worker space used
                  rm -rf *

                  echo "::endgroup::"

                  echo "chromium-version=$CHROMIUM_VERSION" >> $GITHUB_OUTPUT

                  echo "version-tag=$VERSION_TAG" >> $GITHUB_OUTPUT
                  echo "latest-tag=$LATEST_TAG" >> $GITHUB_OUTPUT
            - name: Push image
              run: |
                  docker push "${{ steps.build.outputs.version-tag }}"
                  docker push "${{ steps.build.outputs.latest-tag }}"
        outputs:
            chromium-version: "${{ steps.build.outputs.chromium-version }}"
            image-tag: "${{ steps.build.outputs.version-tag }}"
